<div class="modal-overlay">

    <div class="rental-form">

        <h2>Rental Application</h2>

        <form>

            <div class="form-group">
                <label>Rent</label>
                <input type="number" name="rent" placeholder="Enter Rent" [(ngModel)]="rent">
            </div>

            <div class="form-group">
                <label>Tenant Type</label>
                <select name="tenant" [(ngModel)]="tenant">
                    <option value="">Select Tenant</option>
                    <option value="Bachelors">Bachelors</option>
                    <option value="Bachelors/Family">Bachelors/Family</option>
                    <option value="Family">Family</option>
                </select>
            </div>

            <div class="buttons">

                <button type="submit" class="submit-btn" (click)="apply()">
                    Submit
                </button>

                <button type="button" class="cancel-btn" (click)="closeForm.emit()">
                    Cancel
                </button>

            </div>

        </form>

    </div>

</div>